<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<title>매대 관리</title>
	<!-- CORE CSS-->
	<link rel="stylesheet" href="../views/vendors/materialize-admin/css/themes/fixed-menu/materialize.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/css/themes/fixed-menu/style.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/flag-icon/css/flag-icon.min.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/sweetalert/dist/sweetalert.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/jsgrid/css/jsgrid.min.css" type="text/css">
    <link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/dropify/css/dropify.css" type="text/css" />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../views/vendors/materialize-admin/css/custom/custom.css" type="text/css" />
</head>
<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
	  <div id="loader"></div>
	  <div class="loader-section section-left"></div>
	  <div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<div id="headerSection"></div>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START MAIN -->
	<div id="main">
	  <!-- START WRAPPER -->
	  <div class="wrapper">
	    <!-- START LEFT SIDEBAR NAV-->
		<div id="nav_section"></div>
	    <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <nav>
            <div class="nav-wrapper cyan darken-2">
                <div class="row">
                    <div class="col s12 m8 l8">
                        <a href="/admin" class="breadcrumb">Dashboard</a>
                        <a href="/displaylist" class="breadcrumb">Display List</a>
                    </div>
                    <div class="col s12 m4 l4 right-align" style="display: inline-block;">
                        <a class="waves-effect waves-light btn red" style="color: #fff; font-weight: bold;" id="addDisplayBtn">매대 추가</a>
                    </div>
                </div>
            </div>
        </nav>
	    <!-- START CONTENT -->
	    <section id="content">
	      <!--start container-->
	      <div class="container">
	        <div class="section">
							<div class="row">
									<div class="col s12 m12 l12">
                                        <div class="row" id="cardSection">
                                        </div>
                                        <!-- Modal Structure -->
										<div id="modal1" class="modal">
                                            <div class="modal-content">
                                                <h5>매대 수정 · 삭제</h5>
                                                <p>
                                                    <div class="row">
                                                        <div class="col s12 m12 l6 center-align">
                                                            <img id="thumnail" width="200" />
                                                            <div class="file-field input-field">
                                                                <div class="btn">
                                                                    <span>업로드</span>
                                                                    <input type="file" name="imageFile">
                                                                </div>
                                                                <div class="file-path-wrapper">
                                                                    <input class="file-path validate" type="text" name="imageFileName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 m12 l6 information">
                                                            <div class="row">
                                                                <form class="col s12 m12 l12">
                                                                    <div class="row">
                                                                        <div class="input-field col s12 m12 l12">
                                                                            <input id="branch" placeholder="지점명을 입력하세요." type="text" class="validate" data-length="20">
                                                                            <label for="branch">지점명</label>
                                                                        </div>
                                                                        <div class="input-field col s12">
                                                                            <input id="brand" placeholder="브랜드를 입력하세요." type="text" class="validate" data-length="20">
                                                                            <label for="brand">브랜드</label>
                                                                        </div>
                                                                        <div class="input-field col s12 m12 l12">
                                                                            <input id="location" placeholder="매장 내 위치를 입력하세요." type="text" class="validate" data-length="30">
                                                                            <label for="location">지점 내 위치</label>
                                                                        </div>
                                                                    </div>    
                                                                </form>
                                                            </div>
                                                            <div class="row right-align">
                                                                <div class="col s12">
                                                                    <a id="deleteBtn" dataid="" class="waves-effect waves-light btn red darken-1"><i class="material-icons left">warning</i>영구 삭제</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a id="createDisplay" class="modal-action modal-close waves-effect waves-light btn green lighten-1" style="display: none;">생성</a>
                                                <a id="updateDisplay" dataid= "" class="modal-action modal-close waves-effect waves-light btn green lighten-1">저장</a>
                                                <a class="modal-action modal-close waves-effect waves-light btn cyan lighten-1">취소</a>
                                            </div>
                                        </div>
									</div>
							</div>
					</div>
	      </div>
	      <!--end container-->
	    </section>
	    <!-- END CONTENT -->
	    <!-- //////////////////////////////////////////////////////////////////////////// -->
	  </div>
	  <!-- END WRAPPER -->
	</div>
	<!-- END MAIN -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START FOOTER -->
</body>
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/custom-script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/jsgrid/js/jsgrid.min.js"></script>
<script>
    function addCreateEvent () {
        $('#createDisplay').off().on('click', function () {
            var formData = new FormData();
            $("input[name=imageFile]")[0].files[0]
            ? formData.append("image", $("input[name=imageFile]")[0].files[0])
            : null

            formData.append("branch", $("input[id=branch]").val());
            formData.append("brand", $("input[id=brand]").val());
            formData.append("location", $("input[id=location]").val());

            $.ajax({
                method: "POST",
                url: "/display/create",
                data: formData,
                processData: false,
                contentType: false,
                success: function(newDisplay){
                    var display = newDisplay.data;
                    $('#cardSection').append($('<div />', {
                        class: "col s6 m4 l3",
                        id: 'col_'+display.id
                    }));

                    $('#col_'+display.id).append($('<div />', {
                        class: 'card',
                        id: 'card_'+display.id
                    }));

                    $('#card_'+display.id).append($('<div />', {
                        class: 'card-image',
                        id: 'card-image-'+display.id
                    }));

                    $('#card_'+display.id).append($('<div />', {
                        class: 'card-content center-align',
                        id: 'card-content-'+display.id
                    }));

                    $('#card-image-'+display.id).append('<img class=\"display_img\" src=\"'+(() => { return display.imageUrl ? display.imageUrl : 'http://placehold.it/300x300' })()+'\" /><span class="card-title">'+display.branch+'</span>');
                    $('#card-image-'+display.id).append('<a class=\"btn-floating btn-large halfway-fab waves-effect waves-light red updateDisplayBtn\" id='+display.id+'><i class=\"material-icons\">edit</i></a>');
                    $('#card-content-'+display.id).append('<p class=\"brandName\">'+display.brand+'</p><div class=\"divider\" style=\"margin: 0.5rem;\"></div><p class=\"locationName\">'+display.location+'</p>');
                    addUpdateBtnEvent();
                }
            });
        });
    }

    function addUpdateBtnEvent () {
        $('.updateDisplayBtn').off().on('click', function () {
            var getId = $(this).attr('id');
            $.ajax({
                method: "POST",
                url: "/display/detail",
                data: {
                    id: Number(getId)
                },
                success: function(result){
                    var data = result.data;
                    $('.modal-content h5').text('매대 수정·삭제');
                    $('#thumnail').attr('src', data.imageUrl ? data.imageUrl : 'http://placehold.it/300x300');
                    $('input#branch').val(data.branch);
                    $('input#brand').val(data.brand);
                    $('input#location').val(data.location);
                    $('#updateDisplay').css('display', 'inline-block').attr('dataid', data.id);
                    $('#deleteBtn').css('display', 'inline-block').attr('dataid', data.id);
                    $('#createDisplay').css('display', 'none');
                    $('input[name=imageFile]').val('');
                    $('input[name=imageFileName]').val('');
                    $('#modal1').modal('open');
                }
            });
        });

        $('#updateDisplay').off().on('click', function () {
            var formData = new FormData();
            $("input[name=imageFile]")[0].files[0]
            ? formData.append("image", $("input[name=imageFile]")[0].files[0])
            : null

            formData.append("branch", $("input[id=branch]").val());
            formData.append("brand", $("input[id=brand]").val());
            formData.append("location", $("input[id=location]").val());
            formData.append("id", Number($(this).attr('dataid')));

            $.ajax({
                method: "POST",
                url: "/display/update",
                data: formData,
                processData: false,
                contentType: false,
                success: function(displaylist){
                    $.ajax({
                        method: "POST",
                        url: "/display/detail",
                        data: {
                            id: Number($('#updateDisplay').attr('dataid'))
                        },
                        success: function(result){
                            var data = result.data;

                            $('#card-image-'+data.id+' img').attr('src', (() => { return data.imageUrl ? data.imageUrl : 'http://placehold.it/300x300' })())
                            $('#card-image-'+data.id+' span').text(data.branch);
                            $('#card-content-'+data.id+' p.brandName').text(data.brand);
                            $('#card-content-'+data.id+' p.locationName').text(data.location);
                        }
                    });
                }
            });
        });

        $('#deleteBtn').off().on('click', function () {
            Swal.fire({
            title: '매대 삭제',
            text: '매대에 등록된 상품도 함께 삭제됩니다. 정말 삭제하시겠습니까?',
            type: 'warning',
            showCancelButton: true,
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'OK',
            cancelButtonText: 'NO'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        method: "POST",
                        url: "/display/delete",
                        data: {
                            id: Number($('#deleteBtn').attr('dataid'))
                        },
                        success: function(result){
                            $('#modal1').modal('close');
                            $('#col_'+$('#deleteBtn').attr('dataid')).remove();
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });
                            Toast.fire({
                                type: 'success',
                                title: '삭제되었습니다!'
                            })
                        }
                    });
                } else {
                    return;
                }
            });
        });
    }

    $(document).ready(function () {
        $('.modal').modal();
        $('input#branch, input#brand, input#location').characterCounter();
        $('#nav_section').load('../views/navbar/navbar.html');
        $('#headerSection').load('../views/header/header.html');
        $.ajaxSettings.async = false;
        var ListArr = [];
        $.ajax({
            method: "GET",
            url: "/display/list",
            success: function(displaylist){
                displaylist.data.forEach((display, index) => {
                    $('#cardSection').append($('<div />', {
                        class: "col s12 m4 l3",
                        id: 'col_'+display.id
                    }));

                    $('#col_'+display.id).append($('<div />', {
                        class: 'card',
                        id: 'card_'+display.id
                    }));

                    $('#card_'+display.id).append($('<div />', {
                        class: 'card-image',
                        id: 'card-image-'+display.id
                    }));

                    $('#card_'+display.id).append($('<div />', {
                        class: 'card-content center-align',
                        id: 'card-content-'+display.id
                    }));

                    $('#card-image-'+display.id).append('<img class=\"display_img\" src=\"'+(() => { return display.imageUrl ? display.imageUrl : 'http://placehold.it/300x300' })()+'\" /><span class="card-title">'+display.branch+'</span>');
                    $('#card-image-'+display.id).append('<a class=\"btn-floating btn-large halfway-fab waves-effect waves-light red updateDisplayBtn\" id='+display.id+'><i class=\"material-icons\">edit</i></a>');
                    $('#card-content-'+display.id).append('<p class=\"brandName\">'+display.brand+'</p><div class=\"divider\" style=\"margin: 0.5rem;\"></div><p class=\"locationName\">'+display.location+'</p>');
                });

                addUpdateBtnEvent();
            }
        });

        $('#addDisplayBtn').click(function () {
            $('.modal-content h5').text('매대 생성');
            $('#thumnail').attr('src', 'http://placehold.it/300x300');
            $('input#branch').val('');
            $('input#brand').val('');
            $('input#location').val('');
            $('#updateDisplay').css('display', 'none');
            $('#createDisplay').css('display', 'inline-block');
            $('#deleteBtn').css('display', 'none');
            $('input[name=imageFile]').val('');
            $('input[name=imageFileName]').val('');
            $('#modal1').modal('open');
            addCreateEvent();
        });
    });
</script>