<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<title>대시보드</title>
	<!-- CORE CSS-->
	<link rel="stylesheet" href="../views/vendors/materialize-admin/css/themes/fixed-menu/materialize.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/css/themes/fixed-menu/style.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/flag-icon/css/flag-icon.min.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/sweetalert/dist/sweetalert.css" type="text/css" />
	<link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/jsgrid/css/jsgrid.min.css" type="text/css">
    <link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../views/vendors/materialize-admin/vendors/dropify/css/dropify.css" type="text/css" />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../views/vendors/materialize-admin/css/custom/custom.css" type="text/css" />
</head>
<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
	  <div id="loader"></div>
	  <div class="loader-section section-left"></div>
	  <div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<div id="headerSection"></div>
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START MAIN -->
	<div id="main">
	  <!-- START WRAPPER -->
	  <div class="wrapper">
	    <!-- START LEFT SIDEBAR NAV-->
			<div id="nav_section"></div>
	    <!-- END LEFT SIDEBAR NAV-->
	    <!-- //////////////////////////////////////////////////////////////////////////// -->
	    <!-- START CONTENT -->
	    <section id="content">
	      <!--start container-->
	      <div class="container">
	        <div class="section">
							<div class="row">
									<div class="col s12 m6 l6">
											<div class="card">
													<div class="card-move-up waves-effect waves-block waves-light" id="UserList">
															<div class="move-up">
																<div style="margin-bottom: 1rem;">
																		<span class="chart-title">User List</span>
																		<div class="chart-revenue" style="padding: 0 !important;">
																			<i class="material-icons">add</i>
																		</div>
																</div>
																<div class="trending-line-chart-wrapper">
																	<table class="totalTable centered">
																		<thead>
																			<tr>
																					<th>User Name</th>
																					<th>User ID</th>
																					<th>Password</th>
																					<th>Last Logined</th>
																			</tr>
																		</thead>
																		<tbody id="userInfoSection">
																		</tbody>
																	</table>
																</div>
															</div>
													</div>
											</div>
									</div>
									<div class="col s12 m6 l6">
										<div class="card">
												<div class="card-move-up waves-block waves-light" id="DisplayList">
													<div class="move-up cyan darken-1">
														<div style="margin-bottom: 1rem;">
																<span class="chart-title white-text">Display List</span>
																<div class="chart-revenue cyan darken-1 white-text" style="padding: 0 !important;">
																	<i class="material-icons">add</i>
																</div>
														</div>
														<div class="trending-line-chart-wrapper white-text">
															<table class="totalTable centered">
																<thead>
																	<tr>
																			<th>Branch</th>
																			<th>Brand</th>
																			<th>Location</th>
																			<th>Image</th>
																	</tr>
																</thead>
																<tbody id="displayInfoSection">
																</tbody>
															</table>
														</div>
													</div>
												</div>
										</div>
										<!-- Modal Structure -->
										<div id="modal1" class="modal">
											<div class="modal-content">
												<h5></h5>
												<p>
													<div class="row center-align">
														<div class="col s12 m12 l12">
															<img id="thumnail" width="200" />
														</div>
														<div class="col s12 m12 l12 comments">
															<p></p>
														</div>
													</div>
												</p>
											</div>
											<div class="modal-footer">
												<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">확인</a>
											</div>
										</div>
									</div>
									<div class="col s12 m12 l12">
										<div class="card">
											<div class="card-move-up waves-effect waves-block waves-light" id="ItemList">
													<div class="move-up teal lighten-1 mainpage-item">
														<div style="margin-bottom: 1rem;">
																<span class="chart-title white-text">Item List</span>
																<div class="chart-revenue teal lighten-1 white-text" style="padding: 0 !important;">
																	<i class="material-icons">add</i>
																</div>
														</div>
														<div class="input-field col s12 m6 l6 white-text">
															<select id="displaySelected" class="white-text">
																<option value="" disabled selected>매대 선택</option>
															</select>
															<label class="white-text">Display Select</label>
														</div>
														<div class="trending-line-chart-wrapper white-text">
															<table class="totalTable centered">
																<thead>
																	<tr>
																			<th>Model Number</th>
																			<th>Category</th>
																			<th>Price</th>
																			<th>Name</th>
																			<th>Discount Price</th>
																			<th>Display</th>
																			<th>Amount</th>
																			<th>Image</th>
																			<th>Others</th>
																	</tr>
																</thead>
																<tbody id="itemInfoSection">
																</tbody>
															</table>
															<div id="noItem" class="center-align" style="display: block; margin: 2rem 0;">
																매대를 선택하세요.
															</div>
														</div>
													</div>
											</div>
										</div>
									</div>
							</div>
					</div>
	      </div>
	      <!--end container-->
	    </section>
	    <!-- END CONTENT -->
	    <!-- //////////////////////////////////////////////////////////////////////////// -->
	  </div>
	  <!-- END WRAPPER -->
	</div>
	<!-- END MAIN -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START FOOTER -->
</body>
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- chartjs -->
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/chartjs/chart.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/custom-script.js"></script>
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/jsgrid/js/jsgrid.min.js"></script>
<script>
	function setSize (size) {
		switch (size.toUpperCase()) {
			case "80":
			case "85":
			case  "XS": return {height: '120px', width: '120px'};
			case "90":
			case  "S": return {height: '150px', width: '150px'};
			case "95":
			case  "M": return {height: '200px', width: '200px'};
			case "100":
			case  "L": return {height: '250px', width: '250px'};
			case "105":
			case "110":
			case  "XL": return {height: '290px', width: '290px'};
		}
	}
	function ColorSet (color) {
		switch (color) {
			case "빨간색":
			case "red": return 'red';
			case "아이보리":
			case "ivory": return 'grey lighten-5';
			case "화이트":
			case "white": return 'white';
			case "그린":
			case "green": return "green";
			case "네이비":
			case "navy": return "indigo darken-4";
			case "파란색":
			case "blue": return "blue";
			case "베이지":
			case "beige": return "brown lighten-4";
			case "회색":
			case "grey": return "grey lighten-1";
			case "yellow": return "yellow lighten-1";
			case "와인":
			case "wine": return "red accent-4";
			case "black": return "grey darken-4";
			case "orange": return "orange";
			case "royal blue": return " light-blue lighten-1";
			case "light gray": return "grey lighten-3";
			case "purple": return "purple";
		}
	}


	function FontColor (color) {
		switch (color) {
			case "빨간색":
			case "red": return 'white-text';
			case "아이보리":
			case "ivory": return '';
			case "화이트":
			case "white": return '';
			case "그린":
			case "green": return "white-text";
			case "네이비":
			case "navy": return "white-text";
			case "파란색":
			case "blue": return "white-text";
			case "베이지":
			case "beige": return '';
			case "회색":
			case "grey": return '';
			case "yellow": return "";
			case "wine": return "white-text";
			case "black": return "white-text";
			case "orange": return "white-text";
			case "royal blue": return "";
			case "light gray": return "";
			case "purple": return "white-text";
		}
	}

	function setTextileTable (classname, textile) {
		$(classname).append($('<div />', {
			class: "col s12 m6 center-align textileCol"
		}));

		$(classname+' div.textileCol').append($('<table />', {
			class: "bordered centered textileTable"
		}));

		$(classname+' div.col table.textileTable').append("<thead><tr><th>소재</th><th>함유율(량)</th></tr></thead><tbody></tbody>");


		/* textile 파싱 */
		var texArray = textile.split(/[ .·:;?!~,`"&|()<>{}\[\]\r\n/\\]+/);

		console.log(texArray);

		texArray.forEach((data, index) => {
			if (data !== "") {
				if (data.substr(data.length - 1, 1) !== "\%" && data.substr(data.length - 1, 1) !== '\％') {
					console.log('소재')
					$(classname+' div.col table.textileTable tbody').append('<tr class="tr_'+index+'"><td>'+data+'</td></tr>')
				} else if (data.substr(data.length - 1, 1) === "\%" || data.substr(data.length - 1, 1) === '\％'){
					console.log('함유율')
					$(classname+' div.col table.textileTable tbody tr.tr_'+(index-1)).append('<td>'+data+'</td>')
				}
			}
		});
	}

	var DetailClickEvent = function (className) {
		function setThumbnail (url) {
			$('.modal-content h5').text('이미지 미리보기');
			if (!url || url === "null") {
				$('#thumnail').css('display', "inline-block").attr('src', 'http://placehold.it/300x300');
				$('.comments p').text('등록된 대표 이미지가 없습니다.');
			} else {
				$('#thumnail').css('display', "inline-block").attr('src', url);
				$('.comments p').text('');
			}
			$('#modal1').modal('open');
		}

		function setJsonParsing (jsonObj) {
			$('.modal-content h5').text('상품 정보');
			$('.comments p').empty();
			$('#thumnail').removeAttr('src').css('display', "none");

			var color = jsonObj.attr('color');
			var size = jsonObj.attr('size');
			var textile = jsonObj.attr('textile');

			if (!color && !size && !textile) {
				$('.comments p').html('<span style=\"padding: 2rem 0; font-weight: bold;\">기타 정보가 등록되지 않았습니다.</span>');
				return $('#modal1').modal('open');
			};
			
			if (color) {
				var colorCard = '<div class=\"row colorSection\"><div class=\"col s12 m12\"><div class=\"card-panel '+ColorSet(color)+'\"><span class=\"'+FontColor(color)+'\"><strong style=\"font-weight: bold;\">색상 - '+color+'</strong></span></div></div></div>';
				$('.comments p').html(colorCard);
			}
			if (size) {
				var p = document.createElement("p");
				$('.comments p').append(p);
				var decSize = setSize(size);
				$('.comments p p').append('<div class=\"row sizeSection\"><div class=\"col s12 m6 center-align\"><div class=\"card-panel valign-wrapper center-align\" style=\"width:'+decSize.width+'; height:'+decSize.height+'\">사이즈 - '+size.toUpperCase()+'</div>');
			}

			if (textile) {
				if ($('.comments p').has('.sizeSection')) {
					setTextileTable('.comments p p div.sizeSection', textile);
				} else if ($('.comments p').has('.colorSection')) {
					setTextileTable('.comments p div.colorSection', textile);
				} else {
					$('.comments p').append($('<div />', {
						class: "row texTileSection"
					}));
					setTextileTable('.comments p div.texTileSection', textile);
				}
			}

			$('#modal1').modal('open');
		}

		$('.'+className).off().on('click', function () {
			className !== 'itemInfoDetailBtn'
			? setThumbnail($(this).attr('id'))
			: setJsonParsing($(this))
		});
	};

	var selectEvent = function () {
		$('#displaySelected').on('change', async function () {
			var SelectedValue = await $("option:selected", this);

			await $.ajax({
				method: "POSt",
				url: "/item/list",
				data: {
					brandId: Number(SelectedValue.val())
				},
				success: function (itemlist) {
					if (itemlist.data.length < 1) {
						$('#itemInfoSection tr').remove();
						$('#noItem').text('해당 매대에 등록된 상품이 없습니다.').css('display', 'block');
					} else {
						$('#noItem').css('display', 'none');
					}

					itemlist.data.forEach((item, index) => {
						if (index > 5) {
							return;
						}

						$('#itemInfoSection').append($('<tr />', {
							id: 'itemTr_'+item.id
						}));

						var others = item.information ? JSON.parse(item.information) : null

						$('#itemTr_'+item.id).append('<td>'+item.modelNumber+'</td><td>'+item.category+'</td><td>'+item.price+'</td><td>'+item.name.substr(0, 8)+'...'+'</td><td>'+item.discountPrice+'</td><td>'+SelectedValue.text().substr(0, 8)+'...'+'</td><td>'+item.amount+'</td><td><a class="waves-effect waves-light btn-flat btn-small white-text itemDetailBtn" id=\"'+((url) => { return url ? url : ''})(item.imageUrl)+'\">미리보기</a></td><td><a class="waves-effect waves-light btn-flat btn-small white-text itemInfoDetailBtn" id="information_'+item.id+'">상세</a></td>');

						if (others) {
							if (others.color) {
								$('#information_'+item.id).attr('color', others.color);
							}
							if (others.size) {
								$('#information_'+item.id).attr('size', others.size);
							}
							if (others.textile) {
								$('#information_'+item.id).attr('textile', others.textile);
							}
						}
					});
					DetailClickEvent('itemDetailBtn');
					DetailClickEvent('itemInfoDetailBtn');
				}
			});
		});
	};

	$(document).ready(function() {
		$('.modal').modal();
		$('#nav_section').load('../views/navbar/navbar.html');
		$('#headerSection').load('../views/header/header.html');

		$.ajax({
			method: "POST",
			url: "/user/list",
			success: function (userlist) {
				userlist.data.forEach((user, index) => {
					if (index > 5) {
						return;
					}
					$('#userInfoSection').append($('<tr />', {
						id: 'userTr_'+user.id
					}));

					$('#userTr_'+user.id).append('<td>'+user.username+'</td><td>'+user.userid+'</td><td>'+user.password+'</td><td>'+(() => (user.loginAt ? user.loginAt.substring(0, 10) : "미접속"))()+'</td>');
				});
			}
		});

		$.ajax({
			method: "GET",
			url: "/display/list",
			success: function (displaylist) {
				displaylist.data.forEach((display, index) => {

					$('#displaySelected').append($('<option/>', {
						value: display.id,
						id: 'display_'+display.id,
						'data-icon': display.imageUrl ? display.imageUrl : "../views/vendors/materialize-admin/images/avatar/avatar-7.png",
						class: 'circle'
					}));

					$('#display_'+display.id).text(display.branch+' > '+display.brand);

					if (index > 5) {
						return;
					}
					
					$('#displayInfoSection').append($('<tr />', {
						id: 'displayTr_'+display.id
					}));

					$('#displayTr_'+display.id).append('<td>'+display.branch+'</td><td>'+display.brand+'</td><td>'+display.location+'</td><td><a class="waves-effect waves-light btn-flat btn-small white-text displayDetailBtn" id=\"'+display.imageUrl+'\">미리보기</a></td>');
				});
				DetailClickEvent('displayDetailBtn');
				selectEvent();
				$('select').material_select();
			}
		});
	});
</script>
</html>