<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
        <div class="row">
            <div class="col col s4 m4 l4">
            </div>
            <div class="col col s8 m8 l8">
            <ul id="profile-dropdown-nav" class="dropdown-content">
                <li>
                <a href="#" class="grey-text text-darken-1">
                    <i class="material-icons">face</i> 프로필 </a>
                </li>
                <li>
                <a href="#" class="grey-text text-darken-1">
                    <i class="material-icons">settings</i> 설정 </a>
                </li>
                <li>
                <a href="#" class="grey-text text-darken-1">
                    <i class="material-icons">live_help</i> 도움말 </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" class="grey-text text-darken-1">
                    <i class="material-icons">keyboard_tab</i> 로그아웃 </a>
                </li>
            </ul>
            <a id="profile_name" class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
            <p id="profile_gradePosition" class="user-roal">Administrator</p>
            </div>
        </div>
        </li>
        <li class="no-padding">
        <ul class="collapsible" data-collapsible="accordion">
            <li class="bold">
                <a id="menu1_dashboards" class="collapsible-header waves-effect waves-cyan">
                <i class="material-icons">dashboard</i>
                <span class="nav-text">Dashboard</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a id="menu2_groupListModify" href="/userlist"> 
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>User List</span>
                        </a>
                    </li>
                    <li>
                        <a id="menu2_individualListModify" href="/displaylist">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>Display List</span>
                        </a>
                    </li>
                    <li>
                        <a id="menu2_groupInherit" href="/itemlist">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>Item List</span>
                        </a>
                    </li>
                </ul>
            </div>
            </li>
        </ul>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</aside>
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="../views/vendors/materialize-admin/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="../views/vendors/materialize-admin/js/plugins.js"></script>